.fa-tilde {
    font-size: 22px;
    margin: 0 10px;
    vertical-align: bottom;

    &:before {
        content: "~";
    }
}

.input {
    overflow: hidden;

    .textbox {
        position: absolute;
        border: none;
        margin-left: -500px;
        margin-top: -20px;
    }

    &-character{
        display: inline-block;
        width: 8px;
        height: 20px;
        vertical-align: bottom;
        padding-top: 4px;
        &.active{
            background: $foreground;
            color: $background;
        }
    }   
}
